body {
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    align-items: center;
    position: relative;
  }

  .tip{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    width:90vw;
    margin-left: 5vw;
    margin-bottom: 5px;
    height: 10vh;
    bottom: 0;
    border: 1px gray solid;
  }

  .vid{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    width :100vw;
    height: 80vh;
    object-fit: cover;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 0px;
    display: block;
    flex: 1 0 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .popup{
    display: none;
    position: fixed;
    bottom: 0;
    margin-bottom: 5vw;
    margin-left: 5vw;
    transform: translateY(100vh);
    background-color: #F6F6F6;
    border-radius: 40px;
    width: 90vw;
    height: 70vh;
    box-shadow: 0px 0px 1000vh rgba(0, 0, 0, 1);
    animation: fadein 300ms ease-in-out;
  }
  .imageHolder{
    width: 80vw;
    height: 40vh;
    border-radius: 25px;
    position: fixed;
    display: flex;
    overflow: hidden;
    margin-left: 5vw;
    margin-top: 5vw;
    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .popImage{
    height: auto;
    width: auto;
    object-fit: cover;
    flex: 1 0 100%;
    display: flex;
    border-radius: 25px;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .cross{
    margin-top: 2vw;
    width: 2vw;
    height: 2vw;
  }
  .but2{
    position: fixed;
    bottom: 0;
    width: 80vw;
    height: 15vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
    border-radius: 25px;
    border: 0px;
    color: #33352e;
    font-family: 'SVN-Gilroy', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    margin-top: 10vw;
  }
  .but3{
  
    width: 6vw;
    height: 6vw;
    position: absolute;
    display: block;
    background-color: #c0c0c0;
    border-radius: 50%;
    margin-top: 3vw;
    margin-left: 81vw;
    margin-right: 3vw;
    align-items: center;
    text-align: center;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
      top: 100vh;
    }
    100% {
      opacity: 1;
      top: 0;
    }
}